<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="title">{{title}}</mat-card-title>
    <mat-card-subtitle *ngIf="subtitle">{{subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="resource-form">
    <app-local-spinner *ngIf="loading" [margin]="'-30px 0 0 0'"></app-local-spinner>
    <form [formGroup]="resourceForm" novalidate *ngIf="!loading">
      <ng-container *ngFor="let field of fields">
        <ng-container [ngSwitch]="field.type">
          <mat-form-field [color]="field.options?.color || 'primary'" *ngSwitchCase="fieldType.INPUT">
            <input matInput [type]="field.options?.type" [placeholder]="field.label | translate"
                   [formControlName]="field.name">
            <mat-hint *ngIf="field.hint && !isInvalid(field)">{{field.hint | translate}}</mat-hint>
            <mat-error *ngIf="isInvalid(field)"
                       [translate]="getError(field)[0]" [translateParams]="getError(field)[1]"></mat-error>
          </mat-form-field>
          <mat-form-field [color]="field.options?.color || 'primary'" *ngSwitchCase="fieldType.TEXTAREA">
            <textarea matInput matTextareaAutosize [placeholder]="field.label | translate"
                      [formControlName]="field.name"
                      [cdkAutosizeMaxRows]="field.options?.maxRows"
                      [matAutosizeMinRows]="field.options?.minRows"></textarea>
            <mat-hint *ngIf="field.hint && !isInvalid(field)">{{field.hint | translate}}</mat-hint>
            <mat-error *ngIf="isInvalid(field)"
                       [translate]="getError(field)[0]" [translateParams]="getError(field)[1]"></mat-error>
          </mat-form-field>
          <mat-form-field [color]="field.options?.color || 'primary'" *ngSwitchCase="fieldType.SELECT">
            <mat-select [placeholder]="field.label | translate" [formControlName]="field.name"
                        [compareWith]="field.options?.valueKey ? compareById : compareByName">
              <ng-container *ngFor="let option of field.options?.values">
                <mat-option [value]="option.value">{{option.name | translate}}</mat-option>
              </ng-container>
            </mat-select>
            <mat-hint *ngIf="field.hint && !isInvalid(field)">{{field.hint | translate}}</mat-hint>
            <mat-error *ngIf="isInvalid(field)"
                       [translate]="getError(field)[0]" [translateParams]="getError(field)[1]"></mat-error>
          </mat-form-field>
          <ng-container *ngSwitchCase="fieldType.TOGGLE">
            <div class="mat-form-field items-content">
              <mat-slide-toggle [formControlName]="field.name" [color]="field.options?.color || 'primary'"
                                [labelPosition]="field.options?.labelPosition || 'before'">{{field.label | translate}}
              </mat-slide-toggle>
              <mat-hint *ngIf="field.hint && !isInvalid(field)">{{field.hint | translate}}</mat-hint>
              <mat-error *ngIf="isInvalid(field)"
                         [translate]="getError(field)[0]" [translateParams]="getError(field)[1]"></mat-error>
            </div>
          </ng-container>
          <mat-form-field [color]="field.options?.color || 'primary'" *ngSwitchCase="fieldType.DATEPICKER">
            <input matInput [matDatepicker]="picker" [placeholder]="field.label | translate"
                   [formControlName]="field.name" [min]="field.options?.minDate" [max]="field.options?.maxDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [startAt]="field.options?.startDate"
                            [startView]="field.options?.startView"></mat-datepicker>
            <mat-hint *ngIf="field.hint && !isInvalid(field)">{{field.hint | translate}}</mat-hint>
            <mat-error *ngIf="isInvalid(field)"
                       [translate]="getError(field)[0]" [translateParams]="getError(field)[1]"></mat-error>
          </mat-form-field>
          <ng-container *ngSwitchCase="fieldType.RADIOBUTTON">
            <div class="mat-form-field items-content">
              <label class="items-label">{{field.label | translate}}</label>
              <mat-radio-group [formControlName]="field.name" [ngClass]="field.options?.orientation">
                <mat-radio-button *ngFor="let option of field.options?.values" [value]="option.value"
                                  [color]="field.options?.color || 'primary'"
                                  [labelPosition]="field.options?.labelPosition">
                  {{option.name | translate}}
                </mat-radio-button>
              </mat-radio-group>
              <mat-hint *ngIf="field.hint && !isInvalid(field)">{{field.hint | translate}}</mat-hint>
              <mat-error *ngIf="isInvalid(field)"
                         [translate]="getError(field)[0]" [translateParams]="getError(field)[1]"></mat-error>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="fieldType.CHECKBOX">
            <div class="mat-form-field items-content">
              <label class="items-label">{{field.label | translate}}</label>
              <section [ngClass]="field.options?.orientation">
                <ng-container [formArrayName]="field.name"
                              *ngFor="let option of resourceForm.controls[field.name].controls;let i = index">
                  <mat-checkbox [formControlName]="i" [color]="field.options?.color || 'primary'"
                                [labelPosition]="field.options?.labelPosition">
                    {{field.options?.values[i].name | translate}}
                  </mat-checkbox>
                </ng-container>
              </section>
              <mat-hint *ngIf="field.hint && !isInvalid(field)">{{field.hint | translate}}</mat-hint>
              <mat-error *ngIf="isInvalid(field)"
                         [translate]="getError(field)[0]" [translateParams]="getError(field)[1]"></mat-error>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="resource-buttons">
      <ng-container *ngFor="let button of buttons">
        <button mat-raised-button [ngClass]="button.classes ? button.classes : ''" (click)="emitButton(button.name)"
                [color]="button.color ? button.color : ''">
          <mat-icon *ngIf="button.icon">{{button.icon}}</mat-icon>
          <span *ngIf="button.icon">&nbsp;</span>
          <span *ngIf="button.text">{{button.text | translate}}</span>
        </button>
      </ng-container>
    </div>
  </mat-card-actions>
</mat-card>
